# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.iws
.project
.classpath
.settings/
*.swp
*.swo
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Spring Boot
/logs/
*.pid
spring-shell.log

# Env / Secrets — NE JAMAIS COMMITTER
.env
*.env.local
application-secrets.yml
application-prod-secrets.yml

# Rapports de test
/test-output/
/surefire-reports/


CLAUDE.md
.claude/